.container{
  max-width: 1080px;
  margin: 20px auto;
}
*{
  margin: 0;
  padding: 0;
}
/* Apply default dark theme styles */
body {
  overflow-x: hidden;
}
body {
  padding: 3% 10%;
  font-family: Arial, sans-serif;
  background-color: var(--color-light);
  color: white; /* Default text color for dark theme */
}
.logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8%;
}
.Nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


/* Define CSS variables for dark theme */
:root {
  --color-light: #e7e9e8;
  --color-darkGray: #9e9e9e;
  --color-gray: #9e9e9e;
  --color-offwhite: #0c0f14;
  --shadow-color: #cecece;
}



/* Other global styles can go here */


@media only screen and (max-width: 768px){
  body{
    padding: 5% ;
  }
  .switch {
    width: 45px;
    height: 25px;
    margin: 0;
  }
  .Nav .pixie{
    display: none;
    height: 0;
    width: 0;
  }
}
