/* Apply default dark theme styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--color-dark);
  color: white; /* Default text color for dark theme */
}

/* Define CSS variables for dark theme */
:root {
  --color-dark: #0c0f14;
  --color-darkGray: #21262e;
  --color-gray: #52555a;
  --color-offwhite: #cecece;
  --shadow-color: var(--color-dark);
}

/* Define CSS variables for light theme */
:root.light-theme {
  --color-dark: #cecece;
  --color-darkGray: #9e9e9e;
  --color-gray: #9e9e9e;
  --color-offwhite: #0c0f14;
  --shadow-color: #cecece;
}

/* Other global styles can go here */
