/* The switch container */
.switch {
    --transition: 300ms;
    --transition500: 500ms;
    --color-dark: #0c0f14;
    --color-darkGray: #21262e;
    --color-gray: #52555a;
    --color-offwhite: #cecece;
    --shadow-color: var(--color-dark);
    position: relative;
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    background-color: var(--color-dark);
    border-radius: 30px;
    padding: 4px;
    transition: var(--transition500);
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    border: none;
    margin-left: 35%;
  }
  
  /* Svg styles */
  .switch .svg {
    transition: var(--transition);
    position: absolute;
    left: 5px;
    top: 2px;
  }
  .switch .moon {
    width: 18px;
    fill: rgb(69, 69, 69);
    opacity: 1;
  }


  .switch .sun {
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    left: calc(100% - 21.5px);
    top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    scale: 0.8;
    opacity: 0;
  }
  
  .switch .sun .dot {
    position: relative;
    display: block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: var(--color-dark);
    background: white;
    z-index: 1;
    box-shadow: 11px 0px 0px var(--shadow-color),
      10.3px 0px 0px var(--shadow-color), -11px 0px 0px var(--shadow-color),
      -10.3px 0px 0px var(--shadow-color), 0px -11px 0px var(--shadow-color),
      0px -10.3px 0px var(--shadow-color), 0px 11px 0px var(--shadow-color),
      0px 10.3px 0px var(--shadow-color), 8px 8px 0px var(--shadow-color),
      7.3px 7.3px 0px var(--shadow-color), 8px -8px 0px var(--shadow-color),
      7.3px -7.3px 0px var(--shadow-color), -8px -8px 0px var(--shadow-color),
      -7.3px -7.3px 0px var(--shadow-color), -8px 8px 0px var(--shadow-color),
      -7.3px 7.3px 0px var(--shadow-color);
  }
  
  .switch .sun .dot::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: black;
    border: 2px solid var(--color-dark);
  }
  
  /* Checkbox styles */
  .switch .circle {
    appearance: none;
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    left: 0;
    background:none;
    border: none;
    transition: var(--transition500);
    box-shadow: 1px 1px 20px 3px var(--color-darkGray);
  }
  
  .dark-theme .circle {
    background: var(--color-offwhite);
  }
  
  .switch .circle:hover {
    margin-left: 3px;
  }
  .dark-theme .switch .circle:hover {
    margin-left: -3px;
  }
  
  .dark-theme .switch .circle {
    left: calc(100% - 24px);
    background: white;
    border-color: white;
    box-shadow: 1px 1px 30px 12px white;
  }
  
  .dark-theme  .sun {
    opacity: 1;
  }
  
  .dark-theme  .moon {
    opacity: 0;
  }
  


.dark-theme .switch {
  background-color: var(--color-offwhite); /* Dark theme background color */
}

/* The circle/slider */
.circle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.circle:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--color-darkGray);
  transition: .4s;
  border-radius: 50%;
}

/* Dark theme styles */
.dark-theme .circle {
  background-color: #fff ; /* Dark theme circle background color */
}

.dark-theme .circle:before {
  transform: translateX(26px);
}

.dark-theme {
  background-color: #121212; /* Sun color in dark theme */
}
/* pixieWeather logo */
circle{
  fill: #000;
}
.dark-theme circle {
  fill: #fff !important;
}
.Nav path{
  fill: #cecece !important;
}
.logo path{
  fill: #000 !important;
}
.dark-theme .Nav path{
  fill: #fff !important;
}
.dark-theme .location{
  color: #E7E9E8;
}
.dark-theme .report{
  background-color: #E7E9E8;
  color: #000;
}
.dark-theme .weather-icon ellipse {
  fill: #E7E9E8;
}
.dark-theme .weather-icon circle {
  fill: #E7E9E8;
}
.dark-theme .weather-icon path {
  fill: #E7E9E8;
}
.dark-theme .weather-icon p{
  color: #fff;
}
/* small icons */
.dark-theme .forecast-item ellipse{
  fill: #E7E9E8;
}
.dark-theme .forecast-item circle{
  fill: #E7E9E8;
}
.dark-theme .forecast-item path{
  fill: #E7E9E8;
}
.dark-theme .forecast-item svg{
  fill: #E7E9E8;
}
.dark-theme .row2{
  background-color: #1C1D1F;
}
.dark-theme .row2 h2{
  color: #E7E9E8;
}
.dark-theme .row2 span{
  color: #838486;
}
.dark-theme .box{
  background-color: #1C1D1F;
}
.dark-theme .col{
  background-color: #1C1D1F;
}
.dark-theme .row3 h2{
  color: #E7E9E8;
}
.dark-theme .row3 span{
  color: #E7E9E8;
}
.dark-theme .row3 line{
  stroke: #fff;
  fill: #fff;
}
.dark-theme .row3 path{
  stroke: #fff;
  
}
.dark-theme .compass{
  border: 3px solid #fff;
}
.dark-theme .compass p{
color: #fff;
}
.dark-theme .box .circle{
  border: 2px solid #fff;
  background-color: transparent;
}
.dark-theme .box .round{
  background-color: #fff;
}
.dark-theme .foreground{
  stroke: #000 !important;
}